.section-retailer
	.container
		.s-wrap
			.h2.s-title FIND YOUR NEAREST RETAILER
			.s-list
				a.list-item(href='#')
					img(src='#{DIR}images/content/retailer-1.png')
				a.list-item(href='#')
					img(src='#{DIR}images/content/retailer-2.png')
				a.list-item(href='#')
					img(src='#{DIR}images/content/retailer-3.png')
				a.list-item(href='#')
					img(src='#{DIR}images/content/retailer-4.png')