.section-hero
	.s-bg
		.s-bg__image.hidden-xs-max(style='background-image: url("#{DIR}images/content/hero-image-desk.jpg");')
		.s-bg__image.hidden-sm-min(style='background-image: url("#{DIR}images/content/hero-image-mob.jpg");')
	.s-wrap
		.s-content.container
			.s-logo
				img(src='#{DIR}images/logo-dark.png')
			.s-title TRUSTED BY KIWIS SINCE 1912
			.s-buttons
				a.btn(href='#') Contact Us
				a.btn.btn-index(href='#') Register Your Product