/* section-hero.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.section-hero {
  position: relative;


  .s-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .s-bg__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }


  .s-wrap {
    position: relative;
    min-height: 600px;
    padding: 80px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $screen-xs-max) {
      min-height: 540px;
    }
  }


  .s-content {

  }


  .s-logo {
    margin-bottom: 24px;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;

      @media (max-width: $screen-xs-max) {
        max-width: 212px;
      }
    }
  }


  .s-title {
    text-transform: uppercase;
    text-align: center;
    color: $headings-color;
    @include ff-medium;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 7px;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
      line-height: 33px;
      letter-spacing: 5px;
    }
  }


  .s-buttons {
    text-align: center;
    margin-top: 70px;

    @media (max-width: $screen-xs-max) {
      margin-top: 50px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: flex;
      flex-wrap: nowrap;
      margin-left: -10px;
      margin-right: -10px;
    }

    .btn {
      min-width: 310px;
      margin: 10px 15px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
      }
      @media (max-width: $screen-xs-max) {
        display: block;
        width: 100%;
        margin: 0;
      }

      + .btn {
        @media (max-width: $screen-xs-max) {
          margin-top: 20px;
        }
      }
    }
  }
}