/* _icons.scss */

// !IMPORTANT:  Plugin generate this file automatically!
// File template: __iconstemplate.scss
// List of generetated icons:local/src/scss/db.base/__iconstemplate.scss

@font-face {
  font-family: "sprite";
  src:
      url('../fonts/sprite.woff2') format('woff2'),
      url('../fonts/sprite.woff') format('woff');
}

@mixin ic-styles {
  font-family: "sprite";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%ic {
  @include ic-styles;
}

@function ic-char($filename) {
  $char: "";

  @if $filename == icon-check {
  $char: "\E001";
}
  @if $filename == menu-arrow {
  $char: "\E002";
}
  @if $filename == sl-next {
  $char: "\E003";
}
  @if $filename == sl-prev {
  $char: "\E004";
}

@return $char;
}

@mixin ic($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %ic;
  } @else {
    @include ic-styles;
  }
  content: ic-char($filename);
}
}

.ic-icon-check {
  @include ic(icon-check);
}
.ic-menu-arrow {
  @include ic(menu-arrow);
}
.ic-sl-next {
  @include ic(sl-next);
}
.ic-sl-prev {
  @include ic(sl-prev);
}