//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6  {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
  text-transform: $headings-transform;
  letter-spacing: $headings-letter-spacing;
  font-size: $headings-font-size;
  line-height: $headings-line-height;

  @media (max-width: $screen-xs-max) {
    font-size: $headings-font-size-small;
    line-height: $headings-line-height-small;
    letter-spacing: $headings-letter-spacing-small;
  }
}

h1, .h1 {

}
h2, .h2 {

}
h3, .h3 {

}
h4, .h4 {

}
h5, .h5 {

}
h6, .h6 {

}


//
// Reset margins on paragraphs
//

p, .p {
  color: inherit;
}


//
// Emphasis
//

.lead {
  @media (min-width: $screen-sm-min) {
    font-size: $lead-font-size;
    line-height: $lead-line-height;
  }
}

small,
.small {
  font-size: $small-font-size;
  line-height: $small-line-height;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: none;
  border-top: $hr-border-width solid $hr-border-color;
}


b,
strong {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
}


a {
  color: inherit;
  transition: color 0.2s ease;
}


//
// Lists
//
ul, ol {
  margin: 0 0 $paragraph-margin-bottom;
  padding: 0 0 0 18px;

  &.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  li {

    + li {
      margin-top: 10px;
    }
  }
}