footer.g-footer
	.container
		.f-wrap
			.f-logo
				img(src='#{DIR}images/logo-light.png')
			.f-menu
				.menu-item
					a(href='#') TERMS & CONDITIONS
				.menu-item
					a(href='#') PRIVACY POLICY
				.menu-item
					a(href='#') CONTACT US
				.menu-item
					a(href='#') PRODUCT REGISTRATION