.section-about
	.container
		.s-wrap
			.s-part.part-content
				.content-line
					.h2 Sleep that makes you feel good
					p Tattersfield is an iconic New Zealand brand that has been making great quality mattresses for Kiwi families in New Zealand since 1912. Tattersfield beds continue to go from strength to strength, providing comfort and support along with a full 10 year warranty on all mattresses.
				.content-line
					.h2 Tattersfield customer care
					p If you have recently bought a Tattersfield mattress, thank you for your purchase. Please now register your details to activate your warranty. If there’s anything else we can assist you with, please get in contact, and we’ll be in touch soon.
				.content-line.content-buttons
					a.btn.btn-index(href='#') CONTACT US
					a.btn.btn-index(href='#') REGISTER YOUR PRODUCT
			.s-part.part-image
				.s-image(style='background-image: url("#{DIR}images/content/about-image.jpg");')