/* section-about.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.section-about {


  .s-wrap {
    padding: 80px 0;

    @media (min-width: $screen-md-min) {
      display: flex;
      flex-wrap: nowrap;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }


  .s-part {


    &.part-content {

    }

    &.part-image {
      @media (min-width: $screen-xl-min) {
        flex: 0 0 570px;
        max-width: 570px;
        padding-left: 90px;
      }
      @media (min-width: $screen-lg-min) {
        flex: 0 0 480px;
        max-width: 480px;
        padding-left: 70px;
      }
      @media (min-width: $screen-md-min) {
        flex: 0 0 540px;
        max-width: 540px;
        padding-left: 80px;
      }
    }


    + .s-part {
      @media (max-width: $screen-sm-max) {
        margin-top: 80px;
      }
      @media (max-width: $screen-xs-max) {
        margin-top: 60px;
      }
    }
  }


  .s-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $screen-md-min) {
      height: 100%;
    }

    &:before {
      content: '';
      display: block;
      padding-bottom: 130%;

      @media (min-width: $screen-md-min) {
        display: none;
      }
    }
  }


  .content-line {
    + .content-line {
      margin-top: 80px;

      @media (max-width: $screen-xs-max) {
        margin-top: 60px;
      }
    }
  }


  .content-buttons {
    @media (min-width: $screen-lg-min) {
      display: flex;
      flex-wrap: nowrap;
      margin-left: -10px;
      margin-right: -10px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: flex;
      flex-wrap: nowrap;
      margin-left: -10px;
      margin-right: -10px;
    }


    .btn {
      @media (min-width: $screen-lg-min) {
        margin: 0 10px;
        flex: 1;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: block;
        width: 100%;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin: 0 10px;
        flex: 1;
      }
      @media (max-width: $screen-xs-max) {
        display: block;
        width: 100%;
      }

      + .btn {
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          margin-top: 20px;
        }
        @media (max-width: $screen-xs-max) {
          margin-top: 20px;
        }
      }
    }
  }
}